<h1>PRODUCTS</h1>
<ul>
{{#each products}}
    <il>
        <p>Name: {{this.name}}</p>
        <p>Category: {{this.category}}</p>
        <p>Price: {{this.price}}</p>
        <p>Stock: {{this.stock}}</p>
    </il>
    <br>
{{/each}}
</ul>